html,
body {
  font-family: "Inter", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

.header img {
  padding: 0 25px;
  height: 100%;
  width: auto;
}

.header img:last-child {
  height: 90%;
  padding-top: 5px;
}

.welcome-message {
  width: 50%;
  margin: auto;
  text-align: center;
  margin-top: -35px;
}

.welcome-message *:not(:first-child) {
  padding-top: 25px;
}

.welcome-message .welcome-message-main {
  text-transform: uppercase;
  font-size: 2.25em;
  font-weight: 700;
}

.welcome-message .welcome-message-sub {
  font-size: 1.15em;
  font-weight: 200;
}

.welcome-message .welcome-message-menu {
  padding-top: 25px;
  font-size: 0.95em;
}

.welcome-message .welcome-message-menu * {
  display: inline;
  color: rgb(0, 146, 209);
  font-weight: bold;
  padding: 10px 15px 10px 10px;
  width: 125px;
  text-decoration: none;
}

.welcome-message .welcome-message-menu * .lni {
  padding: 0 5px 0 0;
  color: rgb(0, 146, 209);
}

#programacao {
  margin-top: 25px;
  padding-top: 25px;
  display: flex;
  justify-content: center;
}

#programacao table thead th {
  text-align: center;
}

#programacao table thead tr:nth-child(2) th:nth-child(1),
#programacao table thead tr:nth-child(2) th:nth-child(5) {
  width: 5%;
}

#programacao table thead tr:nth-child(2) th:nth-child(3) {
  width: 50%;
}

#programacao table .sala-virtual {
  padding: 10px 0;
  text-align: center;
  margin: auto;
  font-weight: bold;
  font-size: 1.1em;
}

#programacao table .meta {
  padding: 10px 0;
  text-align: center;
  margin: auto;
  font-weight: bold;
  font-size: 0.8em;
}

#links {
  margin-top: 25px;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#links .links-title {
  color: rgb(0, 146, 209);
  font-weight: bold;
  font-size: 1.25em;
  text-decoration: underline;
}

#links ul {
  padding-bottom: 25px;
}

#links ul li:not(:last-child) {
  padding-bottom: 10px;
}

footer {
  padding-top: 50px;
  font-size: small;
  text-align: center;
}

footer a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(0, 146, 209);
}

@media screen and (max-width: 600px) {
  body {
    font-size: 0.7em;
  }

  .header {
    height: 65px;
    margin-top: 10px;
  }

  .welcome-message {
    width: 90%;
    margin-top: 25px;
  }

  .welcome-message .welcome-message-main {
    text-transform: uppercase;
    font-size: 1.75em;
    font-weight: 700;
  }

  .welcome-message .welcome-message-sub {
    font-size: 1em;
    font-weight: 200;
  }

  .welcome-message .welcome-message-menu {
    padding-top: 15px;
  }

  #programacao {
    margin-top: 15px;
    padding-top: 15px;
  }

  #programacao table {
    font-size: 0.9em;
    width: 95%;
    margin: auto;
  }

  #programacao table tbody .date {
    transform: rotate(-90deg);
    padding: 0;
  }

  #links ul li a {
    display: block;
  }
}
